<!DOCTYPE html>
<html>
    <head><h1><center>Basic calculator</center></h1></head>
    <body>
        <div class="center">
            
            <form action="result">
                <input type="number" name="Number1" placeholder="Enter first number">
                <br>
                <br>
                <input type="number" name="Number2" placeholder="Enter second  number">
                <br>
                <br>
                <button type="submit" name="add">Add</button>
                <button type="submit" name="subtract">Subtract</button>
                <button type="submit" name="multiply">Multiply</button>
                <button type="submit" name="divide">Divide</button>
            </form>
        </div>
        <style>
        .center{
            margin:auto;
            width:60%;
            border:7px solid #a5addb;
            padding:10px;
            }
            </style>
            </body>
            </html>